header{
    display: flex;
    height: 5rem;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}
.logo{
    flex: 1;
    display: flex;
}
.logoName{
    position: relative;
}
.logoName::before{
    position: absolute;
    content: '';
    height: 10px;
    border-radius: 20px;
    width: 40%;
    background: linear-gradient(to right, rgb(247, 37, 133, .5), rgb(90, 24, 154, .5) 60%);
    top: 85%;
    left: -5px;
}
nav{
    display: flex;
    flex: 1.5;
    justify-content: space-evenly;
    align-items: center;
}
.link{
    position: relative;
    transition: all .5s ease-in-out;
}
.link::before{
    position: absolute;
    content: '';
    height: 5px;
    background: linear-gradient(to right, rgb(247, 37, 133, .5), rgb(90, 24, 154, .5) 60%);
    width: 10px;
    top: 90%;
    border-radius: 30px;
    transition: all 1.5s cubic-bezier(0.19, 1.5, 0.22, 1);
}
.link:hover::before{
    width: 5px;
    transform: translateX(-150%) rotate(360deg);
    background: red;
}
.link::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 10%;
    background: aqua;
    top: 90%;
    left: 0;
    transition: all 1.5s cubic-bezier(.5, 1.5, 0.2, 1);
    transform: translateX(500%);
    visibility: hidden;
    border-radius: 10px;
}
.link:hover::after{
    width: 60%;
    visibility: visible;
    transform: translateX(5%);
}

.socialIcon{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.menuIcon{
    font-size: 2rem;
    display: none;
}
.closeIcon{
    display:none;
}
.insta{
    color: orange;
}
@media(max-width: 1500px){
	header{
		width: 80vw;
	}
}
@media(max-width:1200px){
	header{
		width: 90vw;
	}
}
@media(max-width: 1000px){
    nav{
        position: fixed;
        top: 0;
        left: 0;
        font-size: 1.3rem;
        background: #000;
        height: 100vh;
        width: 60%;
        z-index: 99;
        align-items: center;
        flex-direction: column;
        transition: all 1s ease-in-out;
        opacity: .8;
        transform: translateX(-100vw);
        box-shadow: 1px 1px 5px 1px white;
    }
    .menuIcon{
        display: flex;
    }
    .mediaNav{
        transform: none;
    }
    .closeIcon{
        display: flex;
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 2rem;
    }
}