#contact{
    width: 60%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactTitle{
    position: relative;
}
.contactTitle::after{
    content: '';
    position: absolute;
    height: 8px;
    border-radius: 30px;
    width: 4rem;
    background: #000;
    top: 90%;
    left: 5rem;
    background: linear-gradient(to right, rgb(247, 37, 133, .5), rgb(90, 24, 154, .5) 60%);
}
.cEmail{
    padding-top: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.cEContainer{
    height: 2.5rem;
    width: 20rem;
    background: linear-gradient(to right, rgb(247, 37, 133, .5), rgb(90, 24, 154, .5) 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 1px 14px 27px 2px #000000;
    transition: all .5s ease-in-out;
}
.cEContainer:hover{
    box-shadow: 1px 34px 27px 2px #000000;
}
.contactForm{
    width: 100%;
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}
form{
    display: flex;
    width: 50rem;
    justify-content: space-between;
}
.formContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2.5rem;
}
label{
    position: absolute;
    top: -12px;
    left: 10px;
    font-size: .95rem;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 2.5rem;
    width: 20rem;
    background: rgb(0, 0, 0, .5);
    border: none;
    outline: none;
    padding-left: 10px;
    box-shadow: 1px 10px 20px 2px #000000;
}
textarea{
    min-height: 10rem;
    max-height: 30rem;
    min-width: 25rem;
    max-width: 25rem;
    width: 20rem;
    background: rgb(0, 0, 0, .5);
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: -1rem;
    box-shadow: 1px 10px 20px 2px #000000;
}
@media(max-width:1300px){
    #contact{
        width: 100vw;
        padding: 2rem;
    }
}
@media(max-width:850px){
    .cEmail{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    form{
        flex-direction: column;
        align-items: center;
    }
    textarea{
        min-width: 20rem;
        max-width: 20rem;
    }
}